.components__button{
    padding: 5px;
    border-radius: 14px;
    background-color: rgb(33, 49, 197);
    color: white;
    border: 1px solid #f5f5f5;

}



.components__button:hover{
  cursor: pointer;
  opacity: .5;
}

.components__button--disabled{
  opacity: .5;
}


.components__button--disabled:hover{
  cursor: auto;
}


.components__button--secondary{
    background-color: rgb(33, 197, 49);
    border: 1px solid rgb(0, 0, 0);
}

.components__button--danger{
    background-color: rgb(197, 33, 33);
    border: 1px solid rgb(0, 0, 0);
}


.components__button--primary{
  
    background-color: rgb(33, 49, 197);
    border: 1px solid rgb(0, 0, 0);
}