@import "tailwindcss";
@import './components/card.css';
@import './components/button.css';
@import './components/badge.css';
@import './components/CrudContainer.css';
@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/.{js,ts,jsx,tsx}';


body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/* === Button Style === */
.miButton {
  padding: 10px;
  margin: 10px;
  border-radius: 14px;
  color: white;
  transition: opacity 0.2s ease-in-out;
}

.miButton:hover {
  cursor: pointer;
  opacity: 0.5;
}

#success {
  background-color: #2ecc71;
}

#error {
  background-color: #e74c3c;
}

#warning {
  background-color: #ffbe1b;
}

#info {
  background-color: #5baaff;
}

/* === List and Items === */
.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 1rem;
}

.list-item {
  width: 350px;
  height: 400px;
  padding: 10px;
  border-radius: 14px;
  background-color: bisque;
  color: #0a0a0a;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Optional class to display the list */
.list-isActive {
  display: flex;
}

/* === Card-style Containers === */
.moto,
.vehiculos {
  width: 200px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 14px;
  background-color: #f5f5f5;
}

/* === Input Styles === */

/* input {
  width: 200px;
  padding: 10px;
  margin: 10px;
  margin-top: 10px;
  border-radius: 14px;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #ccc;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

input:focus {
  outline: none;
  border-color: #6366f1; /* Indigo Tailwind */
  /* box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.2);
} */

.login {
  color: #000000;
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 16px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container {
  display: flex;
  justify-content: center;
  background-color: #5baaff;
}


